@model Popcorn.ViewModels.TakeQuizViewModel

@{
    Layout = "_Layout";
}
<h2>Answer these questions to get better matches!</h2>

@ViewBag.UserQuestions;
@ViewBag.UserAnswers;

@{
    int j = 1;
    foreach(var w in @ViewBag.UserQuestions)
    {
       <p>Question 1: @w.QuestionText</p>

        for(int i=0; i < 3; i++)
        {
            @*<p>@ViewBag.UserAnswers.Where(v => v.Id == j).Answer</p>*@

        }

    }
}