@model Popcorn.ViewModels.TakeQuizViewModel


@{
    Layout = "_Layout";
}
<h2>Answer these questions to get better matches!</h2>

@{
    //j keeps track of each question and the answers assigned to each question
    int j = 1;
    foreach (var w in @ViewBag.UserQuestions)
    {
        @using (Html.BeginForm())
        {
            @Html.ValidationSummary()

            <p>Question @j: @w.QuestionText</p>
            j++;

            foreach (var answer in ViewBag.UserAnswers)
            {
                if (answer.QuestionsId == w.Id)
                {
                    @Html.RadioButtonFor(
                    m => m.Answers, "Answers")
                   <p>@answer.Answer</p>
                }
            }

        }
    }
}