@model Popcorn.ViewModels.TakeQuizViewModel


@{
    Layout = "_Layout";
}

<div class="container">
    <div class="jumbotron">
        <h2 class="display-3">Dadfolio Questionnaire</h2>
        <p class="lead">Answer these questions to get better matches!</p>
        <hr class="my-4">
        <form method="post">
            <div asp-validation-summary="All">
                @{
                    //j keeps track of each question and the answers assigned to each question
                    int j = 1;
                    foreach (var w in @ViewBag.UserQuestions)
                    {
                        @using (Html.BeginForm())
                {
                            @Html.ValidationSummary()

                            <label asp-for="QuestionText">
                                <p>Question @j: @w.QuestionText</p>
                            </label>
                            j++;

                            foreach (var answer in ViewBag.UserAnswers)
                            {
                                if (answer.QuestionsId == w.Id)
                                {
                                    <br />@Html.RadioButtonFor(
                    m => m.Answers, "Answers")
                                    //would move all properties in the Responses model to the Profiles model or ApplicationUser model if we had more time
                                    <label asp-for="Answers"><br />@answer.Answer <br /></label>
                                }
                            }
                            <p></p>
                            <button type="submit">Submit</button>
                            //will add this to button later
                            @*asp-action="TakeQuiz" asp-controller="Dadfolio" asp-for="TargetId" asp-route-targetId="@item.Id" id="answerChoice" value="Testing">Pop!*@
                            <hr />
                        }
                    }
                }
            </div>
        </form>
    </div>
</div>
